[paths]
train = "train.spacy"
dev = "test.spacy"

[system]
gpu_allocator = "pytorch"

[nlp]
lang = "en"
# المكونات الأساسية لاستخراج الكيانات باستخدام المحولات
pipeline = ["transformer", "ner"]
batch_size = 16

[components]

[components.transformer]
factory = "transformer"
max_batch_items = 4096 
set_extra_annotations = {"@annotation_setters":"spacy-transformers.null_annotation_setter.v1"}

[components.transformer.model]
@architectures = "spacy-transformers.TransformerModel.v3"
# التغيير الجوهري للدورة الثالثة: استخدام نموذج متخصص في الأمن السيبراني
name = "ehsanaghaei/SecureBERT"
tokenizer_config = {"use_fast": true}

[components.transformer.model.get_spans]
@span_getters = "spacy-transformers.strided_spans.v1"
window = 512
stride = 256

[components.ner]
factory = "ner"

[corpora]

[corpora.dev]
@readers = "spacy.Corpus.v1"
path = ${paths.dev}

[corpora.train]
@readers = "spacy.Corpus.v1"
path = ${paths.train}

[training]
dev_corpus = "corpora.dev"
train_corpus = "corpora.train"
seed = 0
gpu_id = 0
max_steps = 20000
patience = 0
eval_frequency = 200

[training.optimizer]
@optimizers = "Adam.v1"

[training.optimizer.learn_rate]
@schedules = "warmup_linear.v1"
warmup_steps = 250
total_steps = 20000
# معدل التعلم الذهبي الموصى به 
initial_rate = 1e-5

[training.batcher]
@batchers = "spacy.batch_by_padded.v1"
size = 4096
buffer = 256
discard_oversize = false